/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #06b6d4;
  --off-white:#e2e8f0;
  --dark-gray: #e4e4e7
 }

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: var(--off-white);
}

/* Card container styles */
.card {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: var(--dark-gray);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
.card h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Input styles */
.card input[type="text"] {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Button styles */
.card button {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.card button:hover {
  background-color: #0891b2;
}

/* Paragraph styles */
.card p {
  margin-bottom: 10px;
}

/* Result paragraph styles */
#romannumber {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
}
